.button, .buttonSelected {
  margin: 0 10px;
  width: 35px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonSelected {
  box-shadow: 0 0 5px white,
              0 0 20px white;
}