.component {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.image {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.headers {
  color: white;
  font-family: 'Reem Kufi Ink', sans-serif;
}

.h1 {
  position: relative;
  top: 20px;
  font-size: 200px;
  margin-bottom: 0;
  padding: 0 0 0 60px;
  transition: 0.5s;
}

.h1:hover {
  /* color: rgb(0, 195, 255); */
  text-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.h2 {
  position: relative;
  top: 10px;
  font-size: 70px;
  padding-left: 70px;
}

.button {
  position: fixed;
  right: 150px;
  bottom: 150px;
  background-color: white;
  width: 200px;
  height: 80px;
  font-family: 'Reem Kufi Ink', sans-serif;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}